.app_input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* .app_input input {
    border: none;
    border-bottom: 1px solid var(--stroke);
    height: 30px;
    transition: all 0.2s;
    border-radius: 15px;
    background-color: #fff;
  } */
  /* .app_input input:hover {
    border: none;
    border-bottom: 1px solid var(--primary);
  }
  .app_input input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary);
  } */
  
  .app_input textarea {
    border: none;
 
    height: 100px;
    transition: all 0.2s;
    border-radius: 15px;
    background-color: #fff;
    padding: 60px;
  }
  /* .app_input textarea:hover {
    border: none;
    border-bottom: 1px solid var(--primary);
  } */
  /* .app_input textarea:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary);
  } */
  .app_input select {
    height: 40px;
    border-radius: 15px;
    padding-left: 10px;
    border: 1px solid var(--stroke);
    background-color: var(--white);
    font-size: 13px;
    /* margin-top: 20px; */
  }
  
  
  
  .app_input .input_label {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .app_input .input_label .asteric {
    color: red;
    margin-left: 5px;
  }
  .input_error {
    width: 100%;
    color: red;
  }